body {
  background-color: rgb(191, 198, 230);
  font-family:Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100hv;
}

.container {
  margin-top: 50px;
}

footer .container {
  margin-top: 0;
}

.pagelayout {
  margin: 5ch;
}

.divider {
  color: red;
}

.msg-style {
  color: red;
}

.btn-gap {
  margin:2mm;
}

h1 {
  font-weight: bold;
}

.navbar-custom {
  background-color: #253136;
}

.navbar-custom .navbar-brand {
  color: #ffffff;
}

.chart {
  margin-inline: 5CH;
  background-color:rgba(255, 255, 255, 0.829);
  padding-left: 15px;
  padding-right: 15px;
}

.visualization {
  text-align:center;
  background-color:rgba(92, 92, 92, 0.151);
}

footer {
  position:fixed;
  bottom: 0;
  padding-top: auto;
  width: 100%;
  height: 50px;
  border-top: 2px solid rgb(27, 27, 27);
  background-color: #253136;
  text-align: center;
  color: #fff;
}

.dropdown-padding {
  margin:2mm;
}

.pie-chart {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

#nav {
  margin-bottom: 0!important;
}

#header {
  background-image: url(./pictures/background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
  background-size: cover;
}

.form-signin-w-100-m-auto {
  width: 60%;
  max-width: 400px;
  margin: auto;
  margin-top: 5ch;
}

.register-link {
  text-decoration: none;
}

.login-link {
  text-decoration: none;
}

.dropdown{
  margin-right:8ch;
}